@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap%27');

.TestimoniContainer {
  background-color: #FAFCFF;
  padding: 80px 0px;
}
.TestimoniUserSaying {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3A3D42;
  text-align: center;
}
.TestimoniUserSaying span {
  color: #00D16C;
}
.TestimoniUserDetail {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3A3D42;
  padding: 50px 0px;
}