@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap%27');

.TopUpContainer {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 20px 0px;
}

.TopUpTitle {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #3A3D42;
  margin-bottom: 40px;
}

.form {
  display: flex;
  align-items: center;
}

.form .sort {
  position: relative;
  margin-left: 10px;
}

.center {
  text-align: center;
}

.buttonLeft {
  width: 80px;
}

.buttonRight {
  width: 80px;
  margin-bottom: 20px;
}

.fa-color {
  color: #c4c4c4;
}

.thead {
  cursor: pointer;
}

.thead:hover {
  background-color: #dedede;
}

.image-transfer {
  max-width: 150px;
}

.accept {
  color: green;
}

.reject {
  color: red;
}

.overflow {
  overflow: scroll;
  width: 100%;
  max-height: 500px;
}

tbody {
  display: block;
  max-height: 500px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

.no-td {
  width: 50px;
}

.image-td {
  width: 190px;
}