@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap%27');

.Hero {
  background-image: url('../../assets/images/Mask\ Group.png');
  height: 900px;
}
.HeroRow1 {
  padding: 50px 120px;
}
.HeroBtnLogin {
  height: 48px;
  width: 120px;
  border: 2px solid #FFFFFF;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  margin-right: 30px;
}
.HeroBtnSignUp {
  height: 48px;
  width: 120px;
  background-color: white;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  color: #00D16C;
}
.HeroBtnTry {
  height: 57px;
  width: 173px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #00D16C;
  background: #FFFFFF;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
}
.HeroAbusayap {
  width: 208px;
}
.HeroLeft {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 0px 120px;
}
.HeroAwesomeApp {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: white;
}
.HeroDescription {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: white;
  margin: 50px 0px;
}