@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap%27');

.FooterHomeContainer {
  background-color: #00D16C;
  padding: 50px 100px;
}
.FooterHome {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(239, 239, 239, 0.9);
}